* {
    margin: auto;
    text-align: center;
    text-decoration: none;
    color: #dbdbdb;
}

body, button {
    background-color: #2A333C;
}

.header {
    display: flex;
    height: 10vh;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 10vh;
    transition: 0.3s;
}

.nav:hover {
    background-color: #506274;
}

.main {
    width: 50%;
    height: 40vh;
    display: flex;
    flex-direction: column;
}

.main table, td {
    width: 100%;
    border: 1px solid #dbdbdb;
    text-align: left;
}

.search {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.search input {
    width: 50%;
}

.search button {
    width: 30%;
}